:root {
  --columns: 12;
  --offset: 1rem;
  --half-offset: calc(var(--offset) / 2);
}

@custom-media --xl-screen (width >= 1200px);
@custom-media --lg-screen (width >= 960px);
@custom-media --md-screen (width >= 720px);
@custom-media --sm-screen (width >= 540px);
@custom-media --xs-screen (width <  540px);

.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: calc(var(--half-offset) * -1);
  margin-right: calc(var(--half-offset) * -1);
}

.col {
  --column: var(--columns);
  --fraction: calc(var(--column) / var(--columns));

  flex: 0 0 auto;
  width: calc(100% * var(--fraction) - var(--offset));
  padding-left: var(--half-offset);
  padding-right: var(--half-offset);
}

@each $breackpoint, $name 
  in (--xs-screen, --sm-screen, --md-screen, --lg-screen, --xl-screen),
  (xs, sm, md, lg, xl) {
  @media ($breackpoint) {
    .col.$(name)-auto {
      flex: 1 1 auto;
      width: auto;
    }

    @for $i from 1 to 24 {
      .col.$(name)-$i { --column: $i; }
    }  
  }
}
