@import "./variable.css";

@for $i from 1 to 12 {
  .col-$i {
    --column: $i;
  }

  .offset-$i {
    --column-offset-fraction: $i;
  }
}

@each $breackpoint,
  $name in (--xs-screen, --sm-screen, --md-screen, --lg-screen, --xl-screen),
  (xs, sm, md, lg, xl)
{
  @media ($(breackpoint)) {
    .col-$(name)-auto {
      flex: 1 1 auto;
      width: auto;
    }

    @for $i from 1 to 12 {
      .col-$(name)-$(i) {
        --column: $(i);
      }

      .offset-$(name)-$(i) {
        --column-offset-fraction: $i;
      }
    }
  }
}
